@charset "UTF-8";   
    /*임시*/
    body{
        color:#333;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 16px;
    }
    /**/    
    main{
        width: 1280px;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    /*사이드메뉴(웹사이즈에서 사용)*/
    .sideMenu{
        width: 240px;
    }
    .side_title{
        width: 100%;
        background: url('../img/sidemenu_title.png')center no-repeat;
    }
    .side_title>h3{
        font-size: 26px;
        font-weight: 400;
        line-height: 130px;
        text-align: center;
        color: #fff;
    }
    /**/
    .side_menu{
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
    }
    .side_menu>li>a{
        display: inline-block;
        width: 100%;
        font-size: 17px;
        line-height: 54px;
        color: #333;
        border-bottom: 1px solid #f8f8f8 ;
        background: url('../img/sidemenu_off.png') right center no-repeat;
    }
    .side_menu>li>.side_menu_on{
        color: #fe7a4a;
        background: url('../img/sidemenu_on.png') right center no-repeat;
    }
    /**/
    .intro{
        width: 1000px;
        padding-bottom: 120px;
    }
    .intro>h2{
        /*padding-top:20px*/
        font-size: 30px;
        font-weight: 400;
        line-height: 84px;
        border-bottom: 1px solid #fe7a4a;
        padding-left: 35px;
        background: url('../img/title_icon.png') left center no-repeat;
        background-size: 25px;
    }
    /*공용*/
    .itr_wrap{
        padding-top: 50px;
    }
    /*인사말 이미지 타이틀*/
    .itr_titleimg{
        width: calc(100% - 30px);
        padding:16% 0 16% 50px;
        box-sizing: border-box;
        margin: auto;
        background: url('../img/intro_text_title.png') center no-repeat;
        background-size: contain;
        vertical-align: middle;
        position: relative;
    }
    .itr_titleimg>h2{
        box-sizing: border-box;
        font-size: 2rem;
    }
    .itr_titleimg>span{
        color: #fff;
        font-size: 18px;
        position: absolute;
        bottom: 10%;
        left: 50px;
    }
    /**/
    .itr_text{
        width: calc(100% - 30px);
        box-sizing: border-box;
        margin:30px auto 0;
    }

@media screen and (max-width: 1280px){
    /**/    
    main{
        width: 100%;
    }
    /**/
    .intro{
        width: calc(100% - 280px);
        padding-bottom: 120px;
    }
    /**/
    .itr_titleimg>span{
        bottom: 12%;
    }
}

@media screen and (max-width: 960px){
   /**/    
   main{
    width: 100%;
    box-sizing: border-box;
    padding:0 30px;
    display: block;
    }
    /**/
    .sideMenu{
        display: none;
    }
    /**/
    .intro{
        width: 100%;
        padding-bottom: 120px;
    }
    .itr_titleimg>h2{
        font-size: 1.5rem;
    }
    .itr_titleimg>span{
        bottom: 10%;
    }
}
@media screen and (max-width: 720px){
    main{
        padding:0 15px;
    }
    /**/
    .itr_titleimg{
        padding:16% 0 16% 20px;
        background: url('../img/intro_text_mtitle.png') center no-repeat;
        background-size: cover;
    }
    .itr_titleimg>h2{
        font-size: 1.2rem;
    }
    .itr_titleimg>span{
        font-size: 14px;
        bottom: 3%;
        left: 20px;
    }
}