@charset "UTF-8";   
    /*임시*/
    body{
        color:#333;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 16px;
    }
    /**/    
    main{
        width: 1280px;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    /*사이드메뉴(웹사이즈에서 사용)*/
    .sideMenu{
        width: 240px;
    }
    .side_title{
        width: 100%;
        background: url('../img/sidemenu_title.png')center no-repeat;
    }
    .side_title>h3{
        font-size: 26px;
        font-weight: 400;
        line-height: 130px;
        text-align: center;
        color: #fff;
    }
    /**/
    .side_menu{
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
    }
    .side_menu>li>a{
        display: inline-block;
        width: 100%;
        font-size: 17px;
        line-height: 54px;
        color: #333;
        border-bottom: 1px solid #f8f8f8 ;
        background: url('../img/sidemenu_off.png') right center no-repeat;
    }
    .side_menu>li>.side_menu_on{
        color: #fe7a4a;
        background: url('../img/sidemenu_on.png') right center no-repeat;
    }
    /**/
    .intro{
        width: 1000px;
        padding-bottom: 120px;
    }
    .intro>h2{
        /*padding-top:20px*/
        font-size: 30px;
        font-weight: 400;
        line-height: 84px;
        border-bottom: 1px solid #fe7a4a;
        padding-left: 35px;
        background: url('../img/title_icon.png') left center no-repeat;
        background-size: 25px;
    }
    /*공용*/
    .itr_wrap{
        padding-top: 50px;
    }
    .itr_title{
        padding-left:40px;
        margin-bottom: 13px;
        font-size: 20px;
        font-weight: bold;
        background: url('../img/title_dot.png') 20px center no-repeat;
    }
    /**/
    .organiz{
        width: 100%;
        padding-top: 50%;
        background:#f8f8f8 url('../img/intro_organiz.png') center no-repeat;
        background-size: 1000px auto;
    }










@media screen and (max-width: 1280px){
    /**/    
    main{
        width: 100%;
    }
    /**/
    .sideMenu{
        width: 240px;
        margin-right: 40px ;
    }
    /**/
    .intro{
        width: calc(100% - 280px);
        padding-bottom: 120px;
    }
    





}

@media screen and (max-width: 960px){
   /**/    
   main{
    width: 100%;
    box-sizing: border-box;
    padding:0 30px;
    display: block;
    }
    /**/
    .sideMenu{
        display: none;
    }
    /**/
    .intro{
        width: 100%;
        padding-bottom: 120px;
    }
    .organiz{
        width: 100%;
        padding-top: 60%;
    }



}
@media screen and (max-width: 720px){
    main{
        padding:0 15px;
    }
    .intro>h2{
        /*padding-top:20px*/
        font-size: 24px;
        line-height: 64px;
        padding-left: 30px;
        background-size: 20px;
    }
    /*공용*/
    .itr_wrap{
        padding-top: 40px;
    }
    .itr_title{
        padding-left:20px;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: bold;
        background: url('../img/title_dot.png') 5px center no-repeat;
    }

    /**/
    .organiz{
        width: 100%;
        padding-top: 75%;
        background:#f8f8f8 url('../img/intro_m_organiz.png') center no-repeat;
        background-size: cover;
    }



}