@charset "UTF-8";   
    /*임시*/
    body{
        color:#333;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 16px;
    }
    /**/    
    main{
        width: 1280px;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    /*사이드메뉴(웹사이즈에서 사용)*/
    .sideMenu{
        width: 240px;
    }
    .side_title{
        width: 100%;
        background: url('../img/sidemenu_title.png')center no-repeat;
    }
    .side_title>h3{
        font-size: 26px;
        font-weight: 400;
        line-height: 130px;
        text-align: center;
        color: #fff;
    }
    /**/
    .side_menu{
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
    }
    .side_menu>li>a{
        display: inline-block;
        width: 100%;
        font-size: 17px;
        line-height: 54px;
        color: #333;
        border-bottom: 1px solid #f8f8f8 ;
        background: url('../img/sidemenu_off.png') right center no-repeat;
    }
    .side_menu>li>.side_menu_on{
        color: #fe7a4a;
        background: url('../img/sidemenu_on.png') right center no-repeat;
    }
    /**/
    .intro{
        width: 1000px;
        padding-bottom: 120px;
    }
    .intro>h2{
        /*padding-top:20px*/
        font-size: 30px;
        font-weight: 400;
        line-height: 84px;
        border-bottom: 1px solid #fe7a4a;
        padding-left: 35px;
        background: url('../img/title_icon.png') left center no-repeat;
        background-size: 25px;
    }
    /*공용*/
    .itr_wrap{
        padding-top: 50px;
    }
    .itr_title{
        padding-left:40px;
        margin-bottom: 13px;
        font-size: 20px;
        font-weight: bold;
        background: url('../img/sidemenu_sub_on.png') 20px center no-repeat;
    }
    .itr_txt{
        padding:0 40px;
    }
    /*노원문화원 비전과 미션*/
    .visionBox{
        width: 100%;
        padding:40px 60px 0;
        box-sizing: border-box;
    }
    .vision_title{
        width: 620px;
        padding:25px 0;
        border: 6px solid #fe7a4a;
        border-radius: 100px;
        text-align: center;
        margin: auto;
    }
    .vision_title>p{
        color: #fe7a4a;
    }
    .vision_title>h4{
        font-size: 20px;
    }
    /**/
    .vision_circle{
        width: 686px;
        height: 242px;
        margin: 45px auto 0;
        background: url('../img/intro_vision_bg.png') no-repeat;
    }
    /**/
    .visionBox>span{
        display: block;
        width: 1px;
        height: 52px;
        margin: 30px auto;
        background-color: #fe7a4a;
    }
    /**/
    .vision_five{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .vision_five>article{
        width: calc(20% - 4px);
        position: relative;
        box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
        padding: 70px 0;
        border-radius: 4px;
        text-align: center;
    }
    .vision_five>article>h5{
        display: block;
        position: absolute;
        left: 20px;
        top:-30px;
        font-size: 36px;
        font-weight: bold;
        color: #fe7a4a;
    }
    .vision_five>article>p span{
        color: #fe7a4a;
    }
    /*노원문화 키워드*/
    .keyworld{
        width: 100%;
        height: 580px;
        margin-top: 15px;
        background: #f8f8f8 url('../img/keyworld.png') center no-repeat;
    }
@media screen and (max-width: 1280px){
    /**/    
    main{
        width: 100%;
    }
    /**/
    .sideMenu{
        width: 240px;
        margin-right: 40px ;
    }
    /**/
    .intro{
        width: calc(100% - 280px);
        padding-bottom: 120px;
    }
    /*노원문화원 비전과 미션*/
    .visionBox{
        width: 100%;
        padding:40px 60px 0;
        box-sizing: border-box;
    }
    .vision_title{
        width: 80%;
    }
    /**/
    .vision_circle{
        width: 552px;
        height: 200px;
        background-size: contain;
    }
    /**/
    .visionBox>span{
        display: block;
        width: 1px;
        height: 52px;
        margin: 30px auto;
        background-color: #fe7a4a;
    }
    /**/
    .vision_five{
        flex-wrap: wrap;
    }
    .vision_five>article{
        width: calc(33.333% - 4px);
        margin-bottom: 30px;
        padding: 40px 0;
    }
    .vision_five>article:nth-of-type(4),.vision_five>article:nth-of-type(5){
        width: calc(50% - 4px);
        margin-bottom: 0;
    }

}

@media screen and (max-width: 960px){
   /**/    
   main{
    width: 100%;
    box-sizing: border-box;
    padding:0 30px;
    display: block;
    }
    /**/
    .sideMenu{
        display: none;
    }
    /**/
    .intro{
        width: 100%;
        padding-bottom: 120px;
    }
    


}
@media screen and (max-width: 720px){
    main{
        padding:0 15px;
    }
    .intro>h2{
        /*padding-top:20px*/
        font-size: 24px;
        line-height: 64px;
        padding-left: 30px;
        background-size: 20px;
    }
    /*공용*/
    .itr_wrap{
        padding-top: 40px;
    }
    .itr_title{
        padding-left:20px;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: bold;
        background: url('../img/sidemenu_sub_on.png') 5px center no-repeat;
    }
    .itr_txt{
        padding:0 15px;
    }
    /*노원문화원 비전과 미션*/
    .visionBox{
        width: 100%;
        padding:20px 15px 0;
        box-sizing: border-box;
    }
    .vision_title{
        width: 85%;
        padding:15px 0;
        border: 4px solid #fe7a4a;
        border-radius: 100px;
    }
    .vision_title>p{
        font-size: 12px;
    }
    .vision_title>h4{
        font-size: 16px;
    }
    /**/
    .vision_circle{
        width: calc(100% - 30px);
        height: auto;
        padding-top: 80%;
        margin: 20px auto 0;
        background: url('../img/intro_vision_mbg.png') center no-repeat;
        background-size: contain;
    }
    /**/
    .visionBox>span{
        display: block;
        width: 1px;
        height: 52px;
        margin: 30px auto;
        background-color: #fe7a4a;
    }
    /**/
    .vision_five{
        flex-wrap: wrap;
    }
    .vision_five>article{
        width: calc(50% - 4px);
        margin-bottom: 30px;
        padding: 25px 0;
    }
    .vision_five>article:nth-of-type(4){
        margin-bottom: 30px;
    }
    .vision_five>article:last-of-type{
        width: 100%;
        margin-bottom: 0;
    }
    /*노원문화 키워드*/
    .keyworld{
        width: 100%;
        height: auto;
        padding-top: 85%;
        margin-top: 15px;
        background: #f8f8f8 url('../img/keyworld.png') center no-repeat;
        background-size: contain;
    }

    
}