<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>new memo</h1>
    <% if(typeof errs !== 'undefined'){ %>
        <% errs.forEach(() => { %>
        <h3><%= err.param%> : <%=err.msg%></h3>
      <%});%>
    <%}%>
    <form  method="POST" action="/updateMemo">
        <input type="hidden" name="id" value="<%=row.id%>">
        <textarea name="content" id="" cols="30" rows="10">
            <%= row.content %>
        </textarea>
        <input type="submit" value="submit">
        <input type="button" value="back" onclick="javascript:location.href='/'">
    </form>



    
</body>
</html>