@charset "utf-8";


header{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    background-color: aqua;
    position: relative;
}
header h1{
    line-height: 100px;
    font-size: 20px;
    padding-left:40px;
}
nav{
    width: 1000px;
    margin: 0 auto;
    position: absolute;
    top: 85px;
    left: 100px;
    background-color: #fff;
}
nav ul li{
    display: block;
    float: left;
    text-align: center;
    width: 250px;
    padding: 5px 0;
}

/*-----------*/

#contaner{
    width: 1200px;
    margin: 0 auto;
    background-color: darkkhaki;
}
.box2, .box3, .box4{
width: 100%;
overflow: hidden;
}
.box2 div{
    width: 585px;
    height: 200px;
    float: left;
    margin: 40px 0 10px 10px;
    background-color: #fff;
}
.box3 div{
    width: 386px;
    height: 300px;
    float: left;
    margin: 10px 0 10px 10px;
    background-color: #444;
}
.box4 div{
    width: 287px;
    height: 400px;
    float: left;
    margin: 10px 0 0 10px;
    background-color: #fff;
}
/*-------------------*/
footer{
    width: 1200px;
    height: 100px;
    background-color: darkblue;
    margin: 0 auto 100px;
}