@charset "UTF-8";

body{
    overflow: hidden;
}
.wrap{
    position: relative;
    width: 800px;
    height: 500px;
    background-color: aqua;     
}
.box{
    position:relative;
    left: 0;
    top:0;
    width: 50px;
    height: 50px;
    background-color: brown;
    transition-duration: 2s;
}
.change{
    left: 700px;
    top: 400px;
    width: 100px;
    height: 100px;
}
.left{
    position: absolute;
    left: 0;
    top:0;
    width: 50%;
    height: 100vh;
    background-color: blue;
    z-index: 10;
}
.right{
    position: absolute;
    left: 50%;
    top:0;
    width: 50%;
    height: 100vh;
    background-color: rgb(14, 207, 0);
    z-index: 10;
}
.btn_c{
    position: absolute;
    width: 100px;
    text-align: center;
    z-index: 30;
    top: 50px;
    left: calc(50% - 50px);
}