@charset "utf-8";

header{
    width: 1160px;
    padding: 30px 20px 10px;
    margin: 0 auto;
    height: 100%;
    background-color: aquamarine;
}
.headmenu{
    overflow: hidden;
}
.headmenu ul li{
    display: block;
    text-align: center;
    float: left;
    padding: 20px 60px;
    background-color: blueviolet;
}
/**/
main{
    width: 1160px;
    padding: 20px;
    background-color: blue;
    margin: 0 auto;
    overflow: hidden;
}
.content{
    width: 800px;
    height: 500px;
    background-color: burlywood;
    float: left;
}
.contentTop{
    width: 100%;
    overflow: hidden;
    background-color: blueviolet;
}
.contentTop div{
    width: 246px;
    height: 150px;
    margin:10px 0 10px 15px;
    background-color: darkorchid;
    float: left;
}
.contentMiddle{
    width: 100%;
    overflow: hidden;
    background-color: #444;
    margin-top: 10px;
}
.contentMiddle div{
    width: 385px;
    height: 220px;
    background-color: aliceblue;
    margin:10px 0 10px 10px;
    float: left;
}
aside{
    width: 360px;
    height: 500px;
    background-color: brown;
    float: left;
}
.asideTop{
width: 100%;
height: 100px;
background-color: darkgreen;
}
.asideMiddle div{
    width: 100%;
    height: 180px;
    margin-top: 20px;
    background-color: crimson;
}
.test{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    overflow: hidden;
    text-overflow: ellipsis;
}


/**/
footer{
    width: 1160px;
    height: 100px;
    padding: 20px;
    margin: 0 auto;
    background-color: #444;
}